.mint-btn {
  padding: 10px 15px;
  border: 0;
  border: 5x; }

.bgc-default {
  background-color: gray; }
  .bgc-default:hover {
    opacity: .8; }

.bgc-primary {
  background-color: #07a0c3; }
  .bgc-primary:hover {
    opacity: .8; }

.bgc-success {
  background-color: #06d6a0; }
  .bgc-success:hover {
    opacity: .8; }

.bgc-danger {
  background-color: #dd1c1a; }
  .bgc-danger:hover {
    opacity: .8; }

.bgc-alert {
  background-color: #f0c808; }
  .bgc-alert:hover {
    opacity: .8; }

.bt-dashed {
  border: 2px dashed; }

.bt-dotted {
  border: 2px dotted; }

.bt-solid {
  border: 2px solid; }
