//Vars & imports
@import "./colors";
$border-types: (
    "normal": 0px,
    "round": 3px,
    "rounded": 14px,
);

//Buttons
.mint-btn {
    padding: 10px 15px;
    border: 0;
    border: 5px;
    color: white;
    font-weight: bold;
}

// Each de color-list en _colors
// Generacion de bgc-color
@each $name, $color in $colors-list {
    .bgc-#{$name} {
        background-color: $color;
        &:hover {
            opacity: 0.8;
        }
    }
}

// Each de border-types en _buttons
// Generación de bt-border
@each $type, $border in $border-types {
    .br-#{$type} {
        border-radius: $border;
    }
}
