//Mixins
@mixin borderButton($size, $type, $color) {
    border: $size $type $color;
}

//Buttons
.mint-btn {
    padding: 10px 15px;
    border: 0;
    &.solid {
        @include borderButton(2px, solid, black);
    }
    &.dotted {
        @include borderButton(2px, dotted, black);
    }
    &.dashed {
        @include borderButton(2px, dashed, black);
    }
}
