//Colors
$c-primary: #07a0c3;
$c-success: #06d6a0;
$c-danger: #dd1c1a;
$c-default: rgb(185, 185, 185);
$c-alert: #f0c808;

$colors-list: (
    "default":$c-default,
    "primary": $c-primary,
    "success": $c-success,
    "danger":$c-danger,
    "alert":$c-alert
);
// Sizes
$s-small:10px 15px;
$s-medium:15px 25px;
$s-large:20px 36px;
$size-list:(
    "small":$s-small,
    "medium":$s-medium,
    "large": $s-large
);